@import "../../../../assets/styles/common/collors";

.list-row {
  border-bottom: solid 1px $color-white;
  &:first-of-type {
    border-top: solid 1px $color-white;
  }
  &:last-of-type {
    border-bottom: none;
  }
}
