<app-layout>
  <div class="row">
    <div class="col-10">
      <ng-content></ng-content>
    </div>
    <div class="col-2 game-score">
      <div *ngFor="let player of players">
        <h5>
          {{player.name}}: {{player.score}}
        </h5>
      </div>
      <div>
        <a class="btn btn-primary"
           [routerLink]="['/game', gameId]"
           routerLinkActive="d-none"
           [routerLinkActiveOptions]="{exact: true}"
        >
          К игре
        </a>
      </div>
    </div>
  </div>
</app-layout>
