@import "~src/assets/styles/common/collors";
@import "~src/assets/styles/common/dimensions";

.game-header {
  position: sticky;
  top: 0;
  z-index: 1500;
  max-height: $dimension-header;
}

.game-content {
  min-height: calc(100vh - #{$dimension-header});
  background-color: $color-main;
}
