<app-layout-with-score>
  <div *ngFor="let topic of round.topics"
       [ngStyle]="{'height.%': 100 / round.topics.length}"
       class="row align-items-center">
    <div [ngStyle]="{'width.%': 100 / (topic.questions.length + 1)}"
         class="col h-100 d-flex align-items-center">
      <h4>
        {{topic.name}}
      </h4>
    </div>
    <div *ngFor="let question of topic.questions"
         [ngStyle]="{'width.%': 100 / (topic.questions.length + 1)}"
         class="col h-100 d-flex align-items-center justify-content-center question"
         (click)="goToQuestion(gameId, roundId, question.id)"
    >
      <div *ngIf="!question.isAnswered">
        <h4>
          {{getQuestionValue(question.id)}}
        </h4>
      </div>
    </div>
  </div>
</app-layout-with-score>
