<app-layout-with-score>
  <div class="row h-100 align-items-center">
    <div *ngIf="state === 'TYPE'"
         class="col h-100 d-flex justify-content-center align-items-center full-click"
         (click)="showTopic()"
    >
      <div *ngIf="question.type === 'AUCTION'">
        <h1>
          Аукцион
        </h1>
        <audio src="/assets/sounds/system/Auction.mp3"
               autoplay></audio>
      </div>
      <div *ngIf="question.type === 'CAT'">
        <h1>
          Кот в мешке
        </h1>
        <audio src="/assets/sounds/system/Cat.mp3"
               autoplay></audio>
      </div>
    </div>
    <div *ngIf="state === 'TOPIC'"
         class="col h-100 d-flex justify-content-center align-items-center full-click"
         (click)="showQuestion()"
    >
      <h1>
        {{question.topic}}
      </h1>
    </div>
    <div *ngIf="state === 'QUESTION'"
         class="col text-center"
    >
      <h1>
        {{question.text}}
      </h1>
      <div *ngIf="question.image?.length > 0"
           class="row">
        <div *ngFor="let img of question.image"
             class="col d-flex justify-content-center align-items-center">
          <img src="/assets/images/{{img}}"
               alt="Не правильно указана фотография =(">
        </div>
      </div>
      <div *ngIf="question.sound">
        <audio src="/assets/sounds/{{question.sound}}"
               controls></audio>
      </div>
      <div *ngIf="question.type === 'SUPER'">
        <audio src="/assets/sounds/system/Super.mp3"
               controls></audio>
      </div>
      <div [formGroup]="formGroup"
           class="row">
        <div *ngFor="let player of players; index as i"
             class="col">
          <div class="card-body">
            <h5 class="card-title">
              {{player.name}}
            </h5>
            <div *ngIf="question.type !== 'REGULAR'" class="form-group">
              <input [formControlName]="player.id"
                     class="form-control"
                     placeholder="Ставка">
            </div>
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-success"
                [disabled]="answeredUsersMap.get(player.id)"
                (click)="updateScore(player.id, true)"
              >
                Ответил
              </button>
              <button
                type="button"
                class="btn btn-danger"
                [disabled]="answeredUsersMap.get(player.id)"
                (click)="updateScore(player.id, false)"
              >
                Ошибся
              </button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button
          type="button"
          class="btn btn-primary"
          (click)="showAnswer()"
        >
          Показать ответ
        </button>
      </div>
    </div>
    <div *ngIf="state === 'ANSWER'"
         class="col text-center"
    >
      <h1>
        {{question.answer}}
      </h1>
      <div *ngIf="question.answerImage">
        <img src="/assets/images/{{question.answerImage}}"
             alt="Не правильно указана фотография =(">
      </div>
      <div>
        <button
          type="button"
          class="btn btn-primary m-2"
          (click)="goToQuestions()"
        >
          К вопросам
        </button>
      </div>
    </div>
  </div>
</app-layout-with-score>
