<app-layout-with-score>
  <div *ngFor="let question of superRound.questions"
       [ngStyle]="{'height.%': 100 / superRound.questions.length}"
       class="row"
       (click)="goToQuestion(gameId, question.id)"
  >
    <div class="col h-100 d-flex align-items-center justify-content-center question">
      <div *ngIf="!hideQuestionMap.get(question.id)">
        <h2 [ngClass]="{'answered-question': question.isAnswered}">
          {{question.topic}}
        </h2>
      </div>
    </div>
  </div>
</app-layout-with-score>
