<div class="container-fluid">
  <div class="row align-items-center base-row">
    <div class="col">
      <h2 class="text-center">
        Сохранённые игры
      </h2>
      <div *ngIf="games?.length > 0">
        <div *ngFor="let game of games"
             class="row list-row">
          <div class="col-3">
            <div>
              ID:{{game.id}}, {{game.name}}
            </div>
            <div>
              Автор: {{game.author.name}}
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div *ngFor="let player of game.players"
                   class="col">
                <div>{{player.name}}</div>
                <div>{{player.score}}</div>
              </div>
            </div>
          </div>
          <div class="col-3 d-flex align-items-center">
            <button
              type="button"
              class="btn btn-primary"
            >
              Продолжить игру
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="!(games?.length > 0)"
           class="text-center"
      >
         У вас нет сохранённых игр =(
      </div>
    </div>
  </div>
</div>
